body {
  text-align: center;
  overflow: hidden;
  margin: 0;
}

h3 {
  margin-bottom: 20;
  text-align: center;
}

small {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 2rem;
}

.fa-heart {
  color: red;
}

.loveMe {
  height: 440px;
  width: 300px;
  background: url('https://i.pinimg.com/originals/e0/19/17/e0191785c29396e42bccc19c6c3db098.jpg')
    no-repeat center center/cover;
  margin: auto;
  cursor: pointer;
  max-width: 100%;
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
}

.loveMe .fa-heart {
  position: absolute;
  animation: grow 0.6s linear;
  transform: translate(-50%, -50%) scale(0);
}

@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}