*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(106, 70, 146);
}

.box-search-user, .box-user{
    position: relative;
    width: 375px;
    height: 585px;
    border-radius: 20px;
    background-color: #fff;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.body-search-user{
    margin-top: 80px;
    position: relative;
}

.body-search-user h1, p{
    text-align: center;
}

.body-search-user h1{
    margin-bottom: 30px;
    color: #404040;
    font-size: 28px;
}

.body-search-user p{
    font-size: 13px;
}

.body-search-user input, button {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.body-search-user input{
    background-color: #ECECEC;
    margin-bottom: 17px;
    margin-top: 17px;
    padding-left: 20px ;
}

.body-search-user button {
    background-color: #272727;
    color: #BFBFBF;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.body-search-user button p{
    padding-left: 20px;
}


.footer-search-user{
    position: relative;
    font-size: 13px;
    width: 100%;
    padding: 30px 0;
    margin-top: 90px;
    border-top: 1px solid #E5E5E5;
}

.arrow-to-menu{
    cursor: pointer;
}

.user-first-info{
    margin-top: 15px;
}

.user-first-info h1{
    font-size: 20px;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
}

.user-first-info h1::before{
    content: '';
    width: 15px;
    height: 15px;
    background-color: #F54B4C;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.grid-first-info{
    color: #3D3D3D;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E5E5E5;
}

.grid-first-info img{
    object-fit: cover;
    width: 133px;
    height: 170px;
    border-radius: 10px;
    box-shadow: 4px 5px 46px #91919171;
}

.grid-first-info p{
    text-align: left;
    font-size: 12px;
}

#user_location{
    margin-top: 18px;
    position: relative;
    padding-left: 25px;
}

#user_location::before{
    display: inline-block;
    content: url(assets/location.svg);
    transform: scale(.6);
    position: absolute;
    left: 0;
    top: -5px;
}

#user_email{
    position: relative;
    padding-left: 25px;
    margin-top: 7px;
}

#user_email::before{
    display: inline-block;
    content: url(assets/mail.svg);
    transform: scale(.9);
    position: absolute;
    left: 4.5px;
    top: -2px;
}

#user_social_media{
    margin-top: 23px;
}

.grid-stats{
    padding: 7px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid #E5E5E5;
}

.grid-stats div p:nth-child(1){
    font-size: 22px;
    color: #1E1E1E;
}

.grid-stats div p:nth-child(2){
    margin-top: -5px;
    font-size: 15px;
    color: #8B8B8B;
}

.lastest-repositories{
    margin-top: 15px;
}

.lastest-repositories h3{
    font-size: 18px;
    text-align: left;
}

.respositories{
    margin-top: 10px;
}

.box-repository{
    width: 100%;
    height: 37px;
    margin-bottom: 17px;
    background-color: grey;
    border-radius: 10px;
    color: #404040;
    font-size: 12px;
}

.box-repository:nth-child(1){
    background-color: #c1feea;
}

.box-repository:nth-child(2){
    background-color: #7797d3;
}

.box-repository:nth-child(3){
    background-color: #e78181;
}

.box-repository a{
    line-height: 37px;
    text-align: left;
    position: relative;
    padding-left: 40px;
    text-decoration: none;
    color: #404040;
    display: block;
}

.box-repository a::before{
    display: inline-block;
    content: url(assets/projectfork.svg);
    width: 20px;
    height: 20px;
    transform: scale(.02);
    position: absolute;
    left: 3px;
    filter: opacity(0.6);
}

#user_social_media p{
    float: left;
    margin-top: 2px;
    margin-right: 10px;
}

.icon-social-media{
    width: 17px !important;
    height: 17px !important;
    margin-right: 15px;
}

.error-msg{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -45px;
    background-color: #f1787a;
    font-size: 9px !important;
    border-radius: 10px;
    padding: 10px;
}