body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #eaeaea;
}
.ocultar{
    display: none;
}
input {
    display: block;
    margin: 10px auto 10px auto;
    width: 50%;
    padding: 15px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
}

table {
    margin: auto;
    box-shadow: 8px 8px 25px #02020283;
    text-align: center;
    width: 50%;
    border-collapse: collapse;
}
th {
    background-color: #288d94;
    color: white;
}
th, td {
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #b15d3673;
}
tr:hover {
    font-weight: 500;
}
